devsign.co.kr {
    encode gzip

    # 백엔드 API
    handle /api/* {
        reverse_proxy devsign-backend:8080
    }

    # 프론트엔드 (Vite default port 5173)
    handle {
        reverse_proxy devsign-frontend:5173
    }
}

oj.devsign.co.kr {
    handle {
        reverse_proxy localhost:8000
    }
}
